<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='../styles/index.css' >
        <script src='../../scripts/authScript.js'></script>
        <title>Document</title>
    </head>
    <body>
        <div id='root'>
            <div class='cont'>
                <header class='mn-cont cont' id='header'>
                    <!-- <div class='nd-cont cont' id='header-cont'> -->
                        <img src='../pictures/logo.jpeg' alt='Company Logo' height='100'/>
                        <h1 class='main-h1'> SK Warehouse </h1>
                        <nav class='nav-cont cont'> 
                            <!-- <a class='nav-lnk' href='/profile'> Profile </a> -->
                            <a class='nav-lnk'href='#company' > Company</a>
                            <a class='nav-lnk'href='#small-company' > Small Companies</a>
                            <a class='nav-lnk'href='#warehouse' > Warehouses</a>
                            <a class='nav-lnk' id='logout-link' href='/home' > Logout </a>
                        </nav>
                    
                </header>
                <div class='mn-cont cont' id='mn-body'>
                    <div class='nd-cont cont' id='mn-bd-sec1'>
                        <div id='mn-frst'>
                            <h1 class='bd-itm' id='profile-hdr'>
                                Welcome Username
                            </h1>
                            <img src='' alt='Profile Image'/>
                            <p id='profile-info'></p>
                        </div>
                    </div>
                    <div class='cont' id='mn-bd-sec2'>
                       
                        <div id='company'>
                            <h1> 
                                Company
                            </h1>
                            <div id='current-companies'>
                                <h2> Current Company:</h2>
                            </div>
                            <div>   
                                <p>Add Company</p>
                                <form method='POST', action='/profile'>
                                    <div>
                                        <label for='companyName'> Company: </label>
                                        <input type='text' name='companyName'></input>
                                    </div>
                                    <div>
                                        <label for='state'>State: </label>
                                        <input type='text' name='state'></input>
                                    </div>
                                    <div>
                                        <input type='hidden' name="postId" value="001"></input>
                                        <input class='currentUser' type='hidden' name='currentUser' value="">
                                        <input type='submit' value='submit'></input>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id='small-company'>
                            <h1> 
                                Small Companies
                            </h1>
                            <div>
                                <h2> Current Companies:</h2>
                            </div>
                            <div> 
                                <p>Add Small Company</p>
                                <form method='POST', action='/profile'>
                                    <div>
                                        <label for='smallCompany'> Company: </label>
                                        <input type='text' name='smallsmallCompany'></input>
                                    </div>
                                    <div>
                                        <label for='state'>State: </label>
                                        <input type='text' name='state'></input>
                                    </div>
                                    <div>
                                        <input type='hidden' name="postId" value="002"></input>
                                        <input class='bigCompany' type='hidden' name='bigCompany' value="">
                                        <input class='currentUser' type='hidden' name='currentUser' value="">
                                        <input type='submit' value='submit'></input>
                                    </div>
                                </form>
                            </div>
                        </div> 
                        <div id='warehouse'>
                            <h1> 
                                Warehouse
                            </h1>
                            <div>
                                <h2> Current Warehouses:</h2>
                            </div>
                            <div>
                                <p>Add Warehouse</p>
                                <form method='POST', action='/profile'>
                                    <div>
                                        <label for='warehouseName'> Warehouse: </label>
                                        <input type='text' name='warehouseName'></input>
                                    </div>
                                    
                                    <div>
                                        <label for='state'>State: </label>
                                        <input type='text' name='state'></input>
                                    </div>
                                    
                                    <div>
                                        <label for='city'> City: </label>
                                        <input type='text' name='city'></input>
                                    </div>
                                    
                                    <div>
                                        <label for='inventory'>Inventory: </label>
                                        <input type='text' name='inventory'></input>
                                    </div>
                                    
                                    <div>
                                        <label for='quantity'> Quantity: </label>
                                        <input type='text' name='quantity'></input>
                                    </div>
                                    
                                    <div>
                                        <label for='capacity'>Capacity: </label>
                                        <input type='text' name='capacity'></input>
                                    </div>
                                    
                                    <div>
                                        <input type='hidden' name="postId" value="003"></input>
                                        <input class='currentUser' type='hidden' name='currentUser' value="">
                                        <input type='submit' value='submit'></input>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <footer class='cont' id='footer'> 
                    <div id='ftr-sec1'>
                        <div id='ftr-sc1-sc1'>
                            <h1>SK Warehouses</h1>
                            <p>
                                <strong>Location: </strong>
                                1111 Something, Austin, Texas, 77000
                                <br></br>
                                <strong>Phone: </strong>
                                000-000-0000
                            </p>
                        </div>
                        <div id='ftr-sc1-sc2'>
                            <h2> Connect With Us! </h2>
                            <div id='mini-sec'>
                                <img class="home-contact-icons" src="../pictures/face.png" alt="facebook Logo" height="35" id="contact-1">
                                <img class="home-contact-icons" src="../pictures/twitter.png" alt="twitter Logo" height="35" id="contact-2">
                                <img class="home-contact-icons" src="../pictures/snap.png" alt="snapchat Logo" height="35" id="contact-3">
                                <img class="home-contact-icons" src="../pictures/insta.png" alt="instagram Logo" height="35" id="contact-4">
                                <img class="home-contact-icons" src="../pictures/youtube.png" alt="youtube logo" height="35" id="contact-5">
                            </div>
                        </div>
                    </div>
                    <div>
                        <p>
                            Copyright © 2021 Unravel | Designed & Built by Jesus Israel Garcia 
                        </p>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>